.div-wrapper {
    align-items: center;
    background-color: #2c4cdf;
    display: flex;
    gap: 12px;
    height: 66px;
    padding: 8px 16px;
    position: relative;
    width: 362px;
  }
  
  .div-wrapper .frame-6 {
    align-items: center;
    display: flex;
    flex: 1;
    flex-grow: 1;
    gap: 10px;
    position: relative;
  }
  
  .div-wrapper .icn-instance {
    background-color: #ffffff !important;
  }
  
  .div-wrapper .headline-7 {
    color: #ffffff;
    flex: 1;
    font-family: var(--h1-font-family);
    font-size: var(--h1-font-size);
    font-style: var(--h1-font-style);
    font-weight: var(--h1-font-weight);
    letter-spacing: var(--h1-letter-spacing);
    line-height: var(--h1-line-height);
    margin-top: -1.00px;
    position: relative;
  }
  
  .div-wrapper .trailing-icon {
    align-items: center;
    display: flex;
    height: 24px;
    justify-content: space-between;
    padding: 0px 12px;
    position: relative;
    width: 24px;
  }
  
  .div-wrapper .upload {
    height: 24px !important;
    margin-left: -12.00px !important;
    margin-right: -12.00px !important;
    position: relative !important;
    width: 24px !important;
  }
  
  .div-wrapper .btn {
    all: unset;
    background-color: #ff6f4d;
    border-radius: 19px;
    box-sizing: border-box;
    height: 24px;
    position: relative;
    width: 76px;
  }
  
  .div-wrapper .layout {
    align-items: center;
    display: inline-flex;
    gap: 8px;
    left: 14px;
    position: relative;
  }
  
  .div-wrapper .label-wrapper {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    position: relative;
  }
  
  .div-wrapper .label {
    color: #ffffff;
    font-family: var(--h5-font-family);
    font-size: var(--h5-font-size);
    font-style: var(--h5-font-style);
    font-weight: var(--h5-font-weight);
    letter-spacing: var(--h5-letter-spacing);
    line-height: var(--h5-line-height);
    margin-top: -1.00px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  