.icn {
    align-items: center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    height: 32px;
    justify-content: center;
    padding: 4px;
    position: relative;
    width: 32px;
  }
  
  .icn .rectangle-6 {
    align-self: stretch;
    background-color: #2c4cdf;
    border-radius: 10px;
    height: 2.91px;
    position: relative;
    width: 100%;
  }
  
  .icn .icon-chevron {
    height: 32px !important;
    left: 0 !important;
    position: absolute !important;
    top: 0 !important;
    transform: rotate(90.66deg) !important;
    width: 32px !important;
  }
  