.icn {
    align-items: center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    height: 32px;
    justify-content: center;
    padding: 4px;
    position: relative;
    width: 32px;
  }
  
  .icn .rectangle-3 {
    align-self: stretch;
    background-color: #FFFFFF;
    border-radius: 10px;
    height: 2.91px;
    position: relative;
    width: 100%;
  }
  
  .burger-icon {
    cursor: pointer;
  }
  